In [3]:
# importing the required libraries
import pandas as pd
import numpy as np
from pathlib import Path as path
import os

import warnings
warnings.filterwarnings('ignore')

In [11]:
# path 
home_dir = path.cwd().parent             # home directory
data_dir = home_dir / 'data'             # data directory
interim_data_dir = data_dir / 'interim'  # interim dataset directory

In [24]:
# list the dataset in the 'interim data' directory
# assign the paths to variables
for i in interim_data_dir.iterdir():
    if 'flat' in str(i):
        flat_data_path = str(i)
    else:
        house_data_path = str(i)
        
# printing the paths
print(f"flat dataset path: {flat_data_path}")
print(f"house dataset path: {house_data_path}")

flat dataset path: C:\Sada\Projects\real-estate-property-price-predictor\data\interim\flat-cleaned.csv
house dataset path: C:\Sada\Projects\real-estate-property-price-predictor\data\interim\house-cleaned.csv

In [25]:
# reading the dataset with pandas 
flats = pd.read_csv(flat_data_path)
houses = pd.read_csv(house_data_path)

In [38]:
# checking if two dataset has same columns 
flats.columns.tolist() == houses.columns.tolist()

True

In [26]:
# concatinating the two datasets
df = pd.concat([flats, houses], ignore_index=True)

In [27]:
# checking few sample rows from cancatinated dataset
df.sample(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2514,3 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,2.41,14785.0,1630.0,Built Up area: 1630 (151.43 sq.m.)Carpet area:...,3.0,3,3,not available,"Sector 61, Sector 61 Gurgaon, Gurgaon, Haryana",2.0,East,Within 3 months,"['Sector 55-56 Metro station', 'Bestech Centra...",Best in class property available at sector 61 ...,"['1 Exhaust Fan', '1 Light', '1 Modular Kitche...",NaN,NaN
1741,4 BHK Flat in Sector 90 Gurgaon,flat,dlf regal gardens,1.78,8040.0,2214.0,Super Built up area 2215(205.78 sq.m.),4.0,4,3+,not available,"Sector 90 Gurgaon, Gurgaon, Haryana",12.0,North-East,1 to 5 Year Old,"['SS Omnia, Sector 86', 'Numberdar market, IMT...","Sunfacing 4bhk unit in resale, call 9560 five0...","['6 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Intercom Facility', 'Lift(s)', 'No open drai...","['Green Area5 out of 5', 'Construction4.5 out ..."
778,3 BHK Flat in Sector 86 Gurgaon,flat,dlf the skycourt,1.72,8916.0,1929.0,Super Built up area 1929(179.21 sq.m.),3.0,3,1,others,"Sector 86 Gurgaon, Gurgaon, Haryana",8.0,North,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH-8, Imt Manesar', 'Rao...",Dlf the skycourt is one of the most popular de...,"['2 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction5 out of..."
2202,3 BHK Flat in ats marigold,flat,ats marigold,1.60,9142.0,1750.0,Super Built up area 1750(162.58 sq.m.),3.0,3,3,not available,"ats marigold, Gurgaon, Haryana",4.0,NaN,0 to 1 Year Old,"['Reliance Trends Newtown Square Mall', 'Dwark...",Premium lifestyle society with 3 rooms and 3 b...,[],"['Private Garden / Terrace', 'Swimming Pool', ...",NaN
3574,6 Bedroom House for sale in DLF Phase 1,house,independent,18.90,41833.0,4518.0,Plot area 502(419.74 sq.m.),6.0,8,2,"pooja room,study room,servant room,store room","Brand New Duplex Kothi, DLF Phase 1, Gurgaon, ...",3.0,North-East,1 to 5 Year Old,"['Guru dronacharya metro station', 'Dlf phase ...","Brand new duplex kothi in dlf phase 1, plot si...","['7 Wardrobe', '8 Fan', '1 Exhaust Fan', '8 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [45]:
# shuffling the entire concatinated dataset
df = df.sample(df.shape[0], ignore_index=Trbbue)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 109 Gurgaon,flat,brisk lumbini terrace homes,1.50,6616.0,2267.0,Carpet area: 2267 (210.61 sq.m.),3.0,3,1,servant room,"Sector 109 Gurgaon, Gurgaon, Haryana",4.0,North,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Ram Mandir', 'K...",One of the best location of dwarka expressway,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,2 BHK Flat in Sohna,flat,breez global hill view,2.60,46917.0,554.0,Carpet area: 554.16 (51.48 sq.m.),2.0,2,2,not available,"605, Sohna, Gurgaon, Haryana",6.0,NaN,0 to 1 Year Old,"['Huda City Centre', 'Omaxe City Centre', 'Nin...",We are the proud owners of this 2 bhk apartmen...,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4 out of 5..."
2,4 BHK Flat in Sector 99 Gurgaon,flat,assotech blith,1.90,6702.0,2835.0,Built Up area: 2835 (263.38 sq.m.),4.0,4,3+,not available,"Sector 99, Sector 99 Gurgaon, Gurgaon, Haryana",2.0,North-East,undefined,"['Huda Metro Station (Gurugram)', 'Dwarka Expr...",Best in class property available at sector 99 ...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4.5 out of 5', 'Lifestyle4 out of..."
3,3 BHK Flat in Sector 106 Gurgaon,flat,elan the presidential,3.90,15918.0,2450.0,Built Up area: 2450 (227.61 sq.m.),3.0,3,0,not available,"Sector 106, Sector 106 Gurgaon, Gurgaon, Haryana",20.0,NaN,undefined,"['Chintapurni Mandir', 'State bank ATM', 'R K ...",Best in class property available at sector 106...,"['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,NaN
4,5 Bedroom House for sale in Sector 3 Gurgaon,house,independent,0.68,3874.0,1755.0,Built Up area: 1755 (163.04 sq.m.),5.0,3,0,not available,"Ashok Vihar, Sector 3, Gurgaon, Sector 3 Gurga...",1.0,NaN,undefined,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...",A 5 bhk independent house for sale in sector 3...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4.5 out of 5', 'Lifestyle4 out of..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3946,4 Bedroom House for sale in Sector 14 Gurgaon,house,sector 14 rwa,6.50,20635.0,3150.0,Plot area 350(292.64 sq.m.),4.0,4,3+,not available,"Sector 14 Gurgaon, Gurgaon, Haryana",2.0,NaN,5 to 10 Year Old,"['Sheetla Mata Mandir', 'Hanuman Mandir', 'Hsb...",We have a house/villa available for sale in se...,[],NaN,"['Environment4 out of 5', 'Lifestyle5 out of 5..."
3947,5 Bedroom House for sale in Sector 46 Gurgaon,house,independent,3.55,24500.0,1449.0,Plot area 161(134.62 sq.m.),5.0,4,3+,servant room,"Sector 46 Gurgaon, Gurgaon, Haryana",3.0,North-West,5 to 10 Year Old,"['Axis bank ATM', 'State bank of india ATM', '...",161 squard yard built up property available fo...,"['4 Wardrobe', '8 Fan', '1 Exhaust Fan', '40 L...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3948,4 Bedroom House for sale in Sector 48 Gurgaon,house,vipul tatvam villa,5.75,22184.0,2592.0,Plot area 288(240.8 sq.m.)Built Up area: 280 s...,4.0,4,2,servant room,"111, Sector 48 Gurgaon, Gurgaon, Haryana",2.0,West,5 to 10 Year Old,"['Athena', 'Star Mall', 'The Sixth Element Sch...",A beautiful and well maintained 4 bhk villa fo...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['High Ceiling Height', 'Maintenance Staff', '...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3949,3 BHK Flat in Sector 36 Sohna,flat,signature global park 4,0.82,7585.0,1081.0,Carpet area: 1081 (100.43 sq.m.),3.0,2,3,not available,"2nd Floor, Sector 36 Sohna, Gurgaon, Haryana",2.0,NaN,0 to 1 Year Old,"['Sector 55-56 Metro Station', 'The Leaf Mall ...","2nd floor good facing, corner one",NaN,"['Lift(s)', 'Swimming Pool', 'Park', 'Fitness ...",NaN
3950,2 BHK Flat in Palam Vihar,flat,rk tower,0.95,9595.0,990.0,Carpet area: 990 (91.97 sq.m.),2.0,2,1,not available,"Palam Vihar, Gurgaon, Haryana",1.0,South-East,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Lush green park facing, 1000sqft flat,24 + cct...","['1 Wardrobe', '30 Light', 'No AC', 'No Bed', ...","['Security / Fire Alarm', 'Intercom Facility',...","['Safety4 out of 5', 'Lifestyle5 out of 5', 'E..."

In [47]:
# changing the pandas setting to see all the rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [48]:
# checking the shape of the dataset
print(f"Shape of the dataset: {df.shape}")

Shape of the dataset: (3951, 20)

In [50]:
# check for duplicate rows
print(f"Total duplicate rows in the dataset: {df.duplicated().sum()}")

Total duplicate rows in the dataset: 0

In [55]:
# missing values in the dataset
print(f"Missing values in the dataset:\n{df.isnull().sum().sort_values(ascending=False)}")

Missing values in the dataset:
facing             1170
furnishDetails     1032
features            705
rating              448
nearbyLocations     205
price                20
price_per_sqft       20
area                 20
floorNum             19
address              11
agePossession         1
description           0
property_name         0
property_type         0
balcony               0
bathroom              0
bedRoom               0
areaWithType          0
society               0
additionalRoom        0
dtype: int64

In [57]:
# taking a brief view of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3951 entries, 0 to 3950
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3951 non-null   object
 1   property_type    3951 non-null   object
 2   society          3951 non-null   object
 3   price            3931 non-null   float64
 4   price_per_sqft   3931 non-null   float64
 5   area             3931 non-null   float64
 6   areaWithType     3951 non-null   object
 7   bedRoom          3951 non-null   float64
 8   bathroom         3951 non-null   int64
 9   balcony          3951 non-null   object
 10  additionalRoom   3951 non-null   object
 11  address          3940 non-null   object
 12  floorNum         3932 non-null   float64
 13  facing           2781 non-null   object
 14  agePossession    3950 non-null   object
 15  nearbyLocations  3746 non-null   object
 16  description      3951 non-null   object
 17  furnishDetails   2919 non-null   object
 18  features         3246 non-null   object
 19  rating           3503 non-null   object
dtypes: float64(5), int64(1), object(14)
memory usage: 617.5+ KB

In [64]:
# adding 'sector' column in the dataset for sector information
df.insert(loc=3, column='sector', value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon', '').str.strip())

In [65]:
# checking few rows from the dataset
df.sample(5)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
906,3 BHK Flat in Sector 81 Gurgaon,flat,dlf the ultima,Sector 81,2.25,10755.0,2092.0,Super Built up area 2092(194.35 sq.m.)Built Up...,3.0,4,3+,servant room,"Nnnnmmmmm, Sector 81 Gurgaon, Gurgaon, Haryana",11.0,West,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Vatika Town...",This 3 bhk apartment is available for sale in ...,"['3 Fan', '1 Fridge', '1 Exhaust Fan', '2 Geys...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4 out of..."
761,4 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,Sector 83,1.40,7179.0,1950.0,Carpet area: 1950 (181.16 sq.m.),4.0,4,3,servant room,"Sector 83 Gurgaon, Gurgaon, Haryana",10.0,North-East,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Vatika gurgaon 21 is one of the most popular d...,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction4.5 out ..."
2699,4 BHK Flat in Valley View Estate,flat,valley view estate,Valley View Estate,1.50,7489.0,2003.0,Super Built up area 2000(185.81 sq.m.)Built Up...,4.0,4,3+,not available,"Tower 14, Valley View Estate, Gurgaon, Haryana",10.0,North-East,5 to 10 Year Old,"['HANUMAN MANDIR', 'SHIV MANDIR BALIYAWAS', 'I...",Awesome flat with all fittings 3 side open cor...,[],"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...","['Environment5 out of 5', 'Safety5 out of 5', ..."
3926,12 Bedroom House for sale in Sector 26 Gurgaon,house,dlf city phase 1,Sector 26,9.25,47803.0,1935.0,Plot area 1935(179.77 sq.m.)Built Up area: 700...,12.0,12,3+,"servant room,pooja room","A Block Excellent Location, Sector 26 Gurgaon,...",4.0,North-East,0 to 1 Year Old,"['Dlf phase 1 metro station', 'Sikandarpur met...","200 sq, yds newly built floorwise building on ...","['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '4 Ge...","['Private Garden / Terrace', 'High Ceiling Hei...",NaN
1460,2 BHK Flat in Sector 74 Gurgaon,flat,m3m skywalk,Sector 74,1.48,12333.0,1200.0,Super Built up area 1400(130.06 sq.m.)Built Up...,2.0,2,3,store room,"13005, Sector 74 Gurgaon, Gurgaon, Haryana",13.0,North-East,1 to 5 Year Old,"['Omaxe Gurgaon Mall', 'Omaxe Celebration Mall...",Located in the popular residential address of ...,NaN,"['Water purifier', 'Centrally Air Conditioned'...",NaN

In [67]:
# lowering the cases in 'sector' column
df['sector'] = df['sector'].str.lower()

In [68]:
# replacing the non-sector values with sector values

df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')

df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [77]:
# considering only sectors which appeared more that 3 times
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [78]:
# checking the unique sectors in the dataset
df.sector.value_counts()

sector
sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     102
sector 69                      94
sector 90                      90
sector 65                      90
sector 81                      90
sector 109                     88
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 107                     60
sector 108                     59
sector 56                      57
sector 95                      57
sector 48                      56
sector 89                      56
sector 2                       55
sector 70a                     54
sector 70                      53
sector 37c                     53
sector 43                      53
sector 84                      51
sector-33 sohna road           51
sector 26                      50
sector 67                      48
sector 49                      48
sector 28                      47
sector 66                      46
sector 103                     44
sector 113                     43
sector 25                      43
sector 82                      42
sector 61                      42
sector 7                       39
sector 106                     38
sector 4                       35
sector 99a                     32
sector 54                      31
sector 12                      30
sector 68                      30
sector 72                      29
sector 77                      29
sector 71                      27
sector 57                      24
sector 24                      24
sector 112                     24
sector 88a                     23
sector 105                     23
sector 33                      23
sector 14                      23
sector 111                     22
sector 67a                     22
sector 11                      21
sector 22                      20
sector 82a                     20
sector 3                       20
sector 47                      19
sector 63a                     18
sector 74                      18
sector 78                      18
sector 62                      17
sector 91                      17
sector 110                     16
gwal pahari                    16
sector 99                      16
sector 60                      15
sector 63                      15
sector 55                      14
sector 1 manesar               14
sector 76                      14
sector 52                      14
sector 53                      14
sector 4 phase 2               13
sector 6                       13
sector 36a                     13
sector 9                       13
sector 46                      13
sector 38                      12
sohna road road                12
sector 31                      12
sector 39                      12
sector 93                      12
sector 41                      11
sector 3 phase 3 extension     11
sector 9a                      11
sector 13                      10
sector 1a manesar              10
sector 3 phase 2                9
sector 45                       9
sector 95a                      9
manesar                         9
sector 40                       8
sector 2 extension              8
sector 8                        8
sector 89 a                     8
c block sector 43               8
sector 23                       8
sector 10a                      8
sector 17                       8
sector 59                       8
sector 58                       7
sector 51                       7
sector 36 sohna road            7
dwarka expressway               7
sector 5                        6
sector 1                        6
sector 21                       6
sector 23a                      5
sector 80                       5
sector 30                       5
sector 36                       4
sector 3a                       4
sector 12a                      4
new                             4
b block sector 43               3
patel nagar                     3
sector 15                       3
sector 17a                      3
sector 88b                      3
maruti kunj                     3
sector 110 a                    3
new sector 2                    3
sector 17b                      3
sector 73                       3
a block sector 43               3
sector 27                       3
Name: count, dtype: int64

In [79]:
# replacing the non-sector values with sector values

df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')

df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [83]:
for i in df.sector.value_counts().index.tolist():
    if 'sector' not in str(i):
        print(i)

sohna road
manesar
gwal pahari
sohna road road
dwarka expressway
new

In [89]:
df[df['sector']=='new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2041,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4.0,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
2795,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2.0,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
2885,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2.0,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
2950,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4.0,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN

In [90]:
df['sector'] = df['sector'].str.replace('sohna road','sector 2')
df['sector'] = df['sector'].str.replace('manesar','sector 1')
df['sector'] = df['sector'].str.replace('gwal pahari','sector 2')
df['sector'] = df['sector'].str.replace('sohna road road','sector 2')
df['sector'] = df['sector'].str.replace('dwarka expressway','sector 26')

In [106]:
df['sector'] = df[(df['sector']=='new') & (df['society'] == 'dlf 76')]['sector'].str.replace('new', 'sector 76')
df['sector'] = df[(df['sector']=='new') & (df['society'] == 'takshila heights sector 37 c')]['sector'].str.replace('new', 'sector 37')
df['sector'] = df[(df['sector']=='new') & (df['society'] == 'green court')]['sector'].str.replace('new', 'sector 90')
df['sector'] = df[(df['sector']=='new') & (df['society'] == 'sare homes')]['sector'].str.replace('new', 'sector 92')

In [107]:
# checking for any non-sector values in 'sector' column
for i in df.sector.value_counts().index.tolist():
    if 'sector' not in str(i):
        print(i)

In [109]:
# checking the shape of the dataset
print(f"Shape of the dataset: {df.shape}")

Shape of the dataset: (3793, 21)

In [110]:
df.columns

Index(['property_name', 'property_type', 'society', 'sector', 'price',
       'price_per_sqft', 'area', 'areaWithType', 'bedRoom', 'bathroom',
       'balcony', 'additionalRoom', 'address', 'floorNum', 'facing',
       'agePossession', 'nearbyLocations', 'description', 'furnishDetails',
       'features', 'rating'],
      dtype='object')

In [111]:
# dropping some feature, which we will no need in further analysis
dropping_columns = ['property_name', 'address', 'description', 'rating']

df.drop(columns = dropping_columns, inplace=True)

In [112]:
# checking few rows from the dataset
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
3026,house,independent,NaN,9.00,33333.0,2700.0,Plot area 300(250.84 sq.m.),5.0,5,3,"pooja room,study room,servant room,store room",3.0,North,10+ Year Old,"['Vodafone belvedere towers metro station', 'D...",NaN,"['Feng Shui / Vaastu Compliant', 'Maintenance ..."
1202,flat,signature andour heights,NaN,0.37,7400.0,500.0,Super Built up area 500(46.45 sq.m.)Built Up a...,1.0,1,2,not available,2.0,North-East,1 to 5 Year Old,"['Bigbasket SPR 5K DS', 'iON Digital Zone, DPG...","['1 Fan', '1 Exhaust Fan', '2 Geyser', '2 Ligh...","['Security / Fire Alarm', 'Maintenance Staff',..."
3051,house,independent,NaN,9.50,40135.0,2367.0,Plot area 263(219.9 sq.m.),12.0,12,3+,store room,4.0,NaN,0 to 1 Year Old,"['Huda city centre metro station', 'Icici bank...","['5 Wardrobe', '1 Water Purifier', '1 Exhaust ...","['Feng Shui / Vaastu Compliant', 'Security / F..."
2970,flat,umang monsoon breeze,NaN,1.20,6493.0,1848.0,Super Built up area 2250(209.03 sq.m.)Carpet a...,3.0,3,2,pooja room,8.0,NaN,5 to 10 Year Old,"['Proposed Metro Station', 'Mahapal Shing', 'N...","['1 Water Purifier', '1 Fridge', '5 Fan', '1 E...","['Piped-gas', 'Natural Light']"
3803,house,bptp astaire gardens,NaN,1.04,7172.0,1450.0,Carpet area: 1450 (134.71 sq.m.),3.0,3,3+,others,2.0,North-East,1 to 5 Year Old,"['Sector 54 Chowk Metro Station', 'Airia Mall'...","['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ..."

In [113]:
# saving the file for further feature engineering

# saving file name 
file_name = interim_data_dir / 'flat-house-dataset.csv'

df.to_csv(file_name, index=False)